body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(35, 35, 35, 1.0);
}


h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* CABEÇALHO */

.header {
    background-color: rgb(19, 19, 19);
    border-right: 5px solid #8C52FF;
    border-bottom: 5px solid #8C52FF;
    border-radius: 0 0 250px 0;
    width: 22%;
    height: 85%;
    position:absolute;
}

.highlight {
    margin-top: 1%;
    margin-left: 40px;
    padding: 4%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(19, 19, 19, 0.0);
    border: 3px solid #8C52FF;
    color: #8C52FF;
}

.highlight:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}

.usuario {
    width: 75%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    color: white;
}

.imgLogo{
    margin-top: 3%;
    margin-left: 30%;
    height: 120px;
}

.usuario h3 {
    font-weight: 100;
}

.usuario h3 b {
    color: #8C52FF;
}

.header ul {
    padding: 0 0 0 40px;
    list-style-type: none;
    float: left;
    margin-top: 40px;
}

.header li {
    margin: 0 0 25px 0;
    text-transform: uppercase;
    color: white;
}

.header li:hover {
    cursor: pointer;
    font-weight: bold;
}

/* Box de Dados */
#boxDadosPessoais,
#boxDadosEndereco,
#boxDadosjogador{
    font-size: 25px;
    position: fixed;
    width: 40%;
    display: none;
    margin-top: 6%;
    margin-left: 35%;
    text-align: left;
    padding: 2%;
    border-radius: 0 50px 0 50px;
    border: 5px solid #8C52FF;
    background-color: rgb(19, 19, 19);
    color: white;
}

#boxDadosPessoais ul li,
#boxDadosEndereco ul li,
#boxDadosjogador ul li{
    margin-bottom: 3%;
    list-style-type: none;
}

#boxDadosPessoais button{
    border: 2px solid #8C52FF;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
    margin-left: 2%;
    background-color: rgb(19, 19, 19);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#boxDadosPessoais button:hover{
    cursor: pointer;
}








